{% extends "base.html" %} {% block content %}

<div class="page-header">
    <h1>Add a new trainer</h1>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p> {{ message }} </p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  <div class="col-sm-7">
    <form method="post" name="newTrainer">
      {{ form.hidden_tag() }}
      <h3>Name:</h3>
      {% for error in form.name.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {{ form.name(class_="form-control") }}
      <h3>Address:</h3>
      {% for error in form.address.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {{ form.address(class_="form-control") }}
      <h3>Email:</h3>
      {% for error in form.email.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {{ form.email(class_="form-control") }}
      <h3>Mobile number:</h3>
      {% for error in form.mobile.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {{ form.mobile(class_="form-control") }}


      <br>

      <input type="submit" class="btn btn-primary" value="Add">
    </form>
  </div>
  <div class="col-sm-5">

      <h3>Current Trainers</h3>
      <br>
      {% for trainer in trainers %}
        <ul>
          <li><h5>{{ trainer.name }}</h5></li>
        </ul>
      {% endfor %}
  </div>
</div>


<br><br> {% endblock %}
